@model PropertyTaxCollectionCMS.Bll.ViewModels.DashBoardVM
@{
    ViewBag.Title = "Property Tax Collection";
}
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
<style>
    .rotate_img {
        animation: spinY 2s linear infinite;
    }

    @@keyframes spinY {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }
    .card{ transition: box-shadow .3s;}
    .bg-c-yellow:hover{box-shadow: 0px 4px 8px 4px rgb(225 17 17 / 36%); }
    .bg-c-green:hover{box-shadow: 0px 4px 8px 4px rgb(44 194 83 / 36%);}
    .bg-c-pink:hover{box-shadow: 0px 4px 8px 4px rgb(44 132 194 / 36%);}
    .bg-c-blue:hover{box-shadow: 0px 4px 8px 4px  rgb(47 211 227 / 51%);}
    #chartdiv {
  width: 100%;
  height: 370px;
}
    svg.svg1 {
        fill: #fff;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <!-- statustic-card start -->
                    <div class="col-xl-3 col-md-6" onclick="location.href = '/Report/AttendenceReport';" style="cursor:pointer">
                        <div class="card bg-c-yellow text-white">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <p class="m-b-5">Attendance</p>
                                        <h4 class="m-b-0">@Model.Attendence</h4>
                                    </div>
                                    <div class="col col-auto text-right">
                                        <i class="feather icon-user f-50 text_card_white"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6" onclick="location.href = '/Report/TaxReceiptReport';" style="cursor:pointer">
                        <div class="card bg-c-green text-white">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <p class="m-b-5">Tax Receipt</p>
                                        <h4 class="m-b-0">@Model.TaxReceipt</h4>
                                    </div>
                                    <div class="col col-auto text-right">
                                        <i><svg class="svg1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="45px" height="45px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><rect x="86.588" y="472.785" width="331.294" height="37.647" /></g></g><g><g><path d="M311.843,169.726H195.765c-10.397,0-18.824,8.427-18.824,18.824s8.427,18.824,18.824,18.824h116.078c10.397,0,18.824-8.427,18.824-18.824S322.24,169.726,311.843,169.726z" /></g></g><g><g><path d="M399.686,257.569H195.765c-10.397,0-18.824,8.427-18.824,18.824s8.427,18.824,18.824,18.824h203.922c10.397,0,18.823-8.427,18.823-18.824S410.083,257.569,399.686,257.569z" /></g></g><g><g><path d="M500.907,3.86c-6.758-3.037-14.657-1.838-20.204,3.062l-52.712,46.632L375.216,6.363c-7.147-6.394-17.951-6.394-25.098,0l-52.706,47.134L244.7,6.363c-7.147-6.394-17.945-6.394-25.092,0l-52.775,47.191L114.121,6.922c-5.54-4.894-13.446-6.093-20.204-3.062c-6.751,3.043-11.093,9.757-11.093,17.161v335.059h-64C8.427,356.079,0,364.506,0,374.903v45.804c0,49.474,40.251,89.725,89.725,89.725v-37.647c-28.718,0-52.078-23.366-52.078-52.078v-26.98h294.902v26.98c0,49.474,40.251,89.726,89.725,89.726c49.474,0,89.725-40.251,89.725-89.725V21.02C512,13.616,507.658,6.903,500.907,3.86zM474.353,420.707c0,28.712-23.366,52.078-52.078,52.078s-52.078-23.366-52.078-52.078v-45.804c0-10.397-8.427-18.824-18.824-18.824H120.471V62.802l33.964,30.049c7.153,6.325,17.907,6.293,25.016-0.069l52.706-47.134
l52.706,47.128c7.147,6.394,17.951,6.394,25.098,0l52.712-47.134l52.706,47.134c7.115,6.362,17.87,6.387,25.016,0.069l33.958-30.042V420.707z" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6" onclick="location.href = 'Report/TaxPaymentReport';" style="cursor:pointer">
                        <div class="card bg-c-pink text-white">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <p class="m-b-5">Tax Payment</p>
                                        <h4 class="m-b-0">@Model.TaxPayment</h4>
                                    </div>
                                    <div class="col col-auto text-right">
                                        <i><svg class="svg1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="45px" height="45px" viewBox="0 0 469.341 469.341" style="enable-background:new 0 0 469.341 469.341;" xml:space="preserve"><g><g><g><path d="M448.004,236.639v-65.965c0-22.368-17.35-40.559-39.271-42.323l-61.26-107c-5.677-9.896-14.844-16.969-25.813-19.906c-10.917-2.917-22.333-1.385-32.104,4.302L79.553,128.007H42.67c-23.531,0-42.667,19.135-42.667,42.667v256c0,23.531,19.135,42.667,42.667,42.667h362.667c23.531,0,42.667-19.135,42.667-42.667v-65.965c12.389-4.418,21.333-16.147,21.333-30.035v-64C469.337,252.786,460.393,241.057,448.004,236.639z M383.944,128.007h-92.971l69.729-40.596L383.944,128.007z M350.103,68.898l-101.529,59.109h-42.113l133.112-77.5L350.103,68.898z M300.295,24.184c4.823-2.823,10.458-3.573,15.844-2.135c5.448,1.458,9.99,4.979,12.813,9.906l0.022,0.039l-164.91,96.013h-42.111L300.295,24.184z M426.67,426.674c0,11.76-9.573,21.333-21.333,21.333H42.67c-11.76,0-21.333-9.573-21.333-21.333v-256c0-11.76,9.573-21.333,21.333-21.333h362.667c11.76,0,21.333,9.573,21.333,21.333v64h-64c-35.292,0-64,28.708-64,64
c0,35.292,28.708,64,64,64h64V426.674z M448.004,330.674c0,5.885-4.781,10.667-10.667,10.667H362.67
c-23.531,0-42.667-19.135-42.667-42.667c0-23.531,19.135-42.667,42.667-42.667h74.667c5.885,0,10.667,4.781,10.667,10.667
V330.674z" /><path d="M362.67,277.341c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333c11.76,0,21.333-9.573,21.333-21.333C384.004,286.914,374.431,277.341,362.67,277.341z" />
</g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6" onclick="location.href = 'Report/TaxReminderReport';" style="cursor:pointer">
                        <div class="card bg-c-blue text-white">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <p class="m-b-5">Reminder</p>
                                        <h4 class="m-b-0">@Model.Reminder</h4>
                                    </div>
                                    <div class="col col-auto text-right">
                                        <i><svg class="svg1" enable-background="new 0 0 512 512"  viewBox="0 0 512 512" width="45px" height="45px" xmlns="http://www.w3.org/2000/svg"><path d="m180 133c0-11.046 8.954-20 20-20h192c26.536 1.056 26.516 38.953 0 40h-192c-11.046 0-20-8.954-20-20zm68 227h-48c-26.536 1.056-26.516 38.953 0 40h48c26.536-1.056 26.516-38.953 0-40zm-48-87h107c26.536-1.056 26.516-38.953 0-40h-107c-26.536 1.056-26.516 38.953 0 40zm-80-40c-11.046 0-20 8.954-20 20 1.054 26.53 38.951 26.522 40 0 0-11.046-8.954-20-20-20zm392 199.169c.009 30.856-23.709 60.585-56.099 59.831h-41.901c-1.103 26.539-38.907 26.519-40 0h-42.901c-32.394.754-56.108-28.98-56.098-59.831 0-8.612 4.963-16.064 13.12-18.783 2.198-.899 15.755-7.077 15.755-22.687v-19.699c0-42.578 30.102-78.654 70.125-87.763v-13.237c1.056-26.536 38.953-26.516 40 0v13.471c39.523 9.477 69.125 45.307 69.125 87.529v19.699c0 15.61 13.557 21.788 15.755 22.687 8.156 2.718 13.119 10.171 13.119 18.783zm-42.485 10.259c-13.239-9.737-26.39-26.604-26.39-51.729v-19.699c0-27.193-22.092-49.612-49.246-49.976-.126-.001-.253-.004-.379-.008-.126.004-.253.007-.379.008-27.154.364-49.246 22.783-49.246 49.976v19.699c0 25.125-13.15 41.992-26.39 51.729 2.159 4.84 6.175 9.572 13.613 9.572h124.803c7.439 0 11.454-4.732 13.614-9.572zm-349.515-329.428c-11.046 0-20 8.954-20 20 1.054 26.53 38.951 26.522 40 0 0-11.046-8.954-20-20-20zm0 247c-11.046 0-20 8.954-20 20 1.054 26.53 38.951 26.522 40 0 0-11.046-8.954-20-20-20zm312-360h-352c-44.112 0-80 35.888-80 80v352c0 44.112 35.888 80 80 80h152c26.536-1.056 26.516-38.953 0-40h-152c-22.056 0-40-17.944-40-40v-352c0-22.056 17.944-40 40-40h352c22.056 0 40 17.944 40 40v180c1.056 26.536 38.953 26.516 40 0v-180c0-44.112-35.888-80-80-80z" /></svg></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- statustic-card start -->

                </div>
            </div>
        </div>
        @*<div id="styleSelector">
            </div>*@

        @*<input class="form-control" type="date">*@
        @* Canvas js Chart Start *@
        <div id="housetotal" class="bar-chart-example card tab-pane active">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Tax Collection</h3>
            </div>
            <div class="card-body">
                <div style="position:relative ;height: 250px; width: 100%;">
                    <div style="position:relative;top: 100%;z-index: 1; background-color:#fff;height:12px;width:60px;padding-top:10px">

                    </div>
                    <div id="chartContainerTarget2" style="height: 250px; width: 100%;position:absolute">
                    </div>
                </div>
            </div>
        </div>
        @* Canvas js Chart End *@
        <div class="container-fluid mt-5">
            <!-- Tab panes -->
            <div class="tab-content row bg-white has-shadow" style="background-color:#fff">
                <div id="home" class="container tab-pane active" onload="myMap()">
                    <div class="row bg-white" style="position:relative; height:680px;padding-top:15px;">
                        <p id="wait" style="display:none;position:absolute;top:35%;left:50%;">
                            <img class="rotate_img" src="~/Content/assets/images/marker24.png">
                        </p>
                        <div class="col-sm-11">
                            <h3>Attendance Details</h3>
                            <input type="hidden" value="21.1458" id="deflat" />
                            <input type="hidden" value="79.0882" id="deflang" />
                        </div>
                        <div class="col-sm-1"><span><input type="button" style="margin-bottom:10px;background:#01a9ac" class="btn btn-success btn-sm" id="refresh" value="Show" /></span></div>

                        <div class="col-12 bg-white has-shadow" id="googleMap" style="width:1200px; height:600px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- Resources -->
<script>

    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/Home/EmployeeHouseCollectionType",
            //data: { userId: UserId, },
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data);
                var receipt = [];
                var payment = [];
                var remainder = [];
                //var seg = [];
               // var emp_tar = [];
                for (var i = 0; i < data.length; i++) {
                    // alert(data[i].inTime);
                    var name = data[i].ADUM.USER.NAME;
                    name = name.trim();
                    var lastname_array = name.split(' ');
                    var lastname_firstchar;
                    if (lastname_array.length == 1) {
                        //if condition lastname_array[1] == undefined
                        lastname_firstchar = ""
                    } else {
                        lastname_firstchar = lastname_array[1][0];
                    }


                    //var fname = name.substring(0, name.indexOf(" "));
                    var fname = name.replace(/ .*/, ' ');
                    // alert(data[i]._Count)
                    receipt.push({ y: data[i].TaxReceipt, label: 'TaxReceipt', color: '#0086c3', intime: data[i].inTime });
                    payment.push({ y: data[i].TaxPayment, label: 'TaxPayment', color: '#fe9436', intime: data[i].inTime });
                    remainder.push({ y: data[i].TaxRemainder, label: 'TaxRemainder', color: '#f44336', intime: data[i].inTime });
                   // seg.push({ y: data[i].Bifur, label: 'Segregated', color: '#388e3c', intime: data[i].inTime });
                 //   emp_tar.push({ y: parseInt(data[i].gcTarget), label: fname + lastname_firstchar, z: data[i].Count, intime: data[i].inTime });
                    // ary2.push({ y: parseInt(data[i].gcTarget), label: data[i].userName });

                }

                var chart = new CanvasJS.Chart("chartContainerTarget2",
           {
               //title: {
               //    text: "Grouped Stacked Chart"
               //},
               theme: "theme3",
               // interval :1,
               axisY: {
                   labelFontSize: 10,
                   labelFontColor: "dimGrey",
                   interval: 1
               },
               axisX: {
                   labelAngle: -10,
                   labelFontSize: 10,
                   interval: 1
               },
               axisY: {
                   title: "Tax Collection",
               },

               data: [

                     {
                         //indexLabel: "#total",
                         //indexLabelPlacement: "outside",
                         //indexLabelPlacement: "outside",
                         type: "stackedColumn",
                         showInLegend: true,
                         legendText: "TaxReceipt",
                         toolTipContent: "InTime:{intime} <br>{label}:{y} ",
                         color: "#388e3c",
                         dataPoints: receipt
                     },
                     {
                         //indexLabel: "#total",
                         //indexLabelPlacement: "outside",
                         type: "stackedColumn",
                         showInLegend: true,
                         legendText: "TaxPayment",
                         toolTipContent: "InTime:{intime} <br>{label}:{y} ",
                         color: "#f44336",
                         dataPoints: payment
                     },
                     {
                         //indexLabel: "#total",
                         //indexLabelPlacement: "outside",
                         type: "stackedColumn",
                         showInLegend: true,
                         legendText: "TaxRemainder",
                         toolTipContent: "InTime:{intime} <br>{label}:{y} ",
                         color: "#fe9436",
                         dataPoints: remainder
                     },
                     //{
                     //    indexLabel: "#total",
                     //    indexLabelPlacement: "outside",
                     //    type: "stackedColumn",
                     //    showInLegend: true,
                     //    legendText: "NotSpecified",
                     //    toolTipContent: "InTime:{intime} <br>{label}:{y} ",
                     //    color: "#0086c3",
                     //    dataPoints: not_spec
                     //},
                     //    {
                     //        type: "line",
                     //        color: "#c0504d",
                     //        dataPoints: emp_tar,
                     //        // indexLabel: "{y}",
                     //        showInLegend: true,
                     //        name: "Target",
                     //    }
                     //{
                     //    type: "stackedColumn",
                     //    color: "#c0504d",
                     //    axisYType: "secondary",
                     //    toolTipContent: "Target:{y} <br> InTime:{intime}",
                     //    showInLegend: true,
                     //    legendText: "Target",
                     //    indexLabelFontSize: 14,
                     //    indexLabelPlacement: "outside",
                     //    indexLabel: "{z}/{y}",
                     //    dataPoints: emp_tar
                     //}


               ]
           });
                showDefaultText(chart, "No Data available");
                chart.render();
                function showDefaultText(chart, text) {
                    var isEmpty = !(chart.options.data[0].dataPoints && chart.options.data[0].dataPoints.length > 0);

                    if (!chart.options.subtitles)
                        (chart.options.subtitles = []);

                    if (isEmpty)
                        chart.options.subtitles.push({
                            text: text,
                            verticalAlign: 'center',
                        });
                    else 
            	    (chart.options.subtitles = []);
                }
            }
        });
        chart.render();


    });

</script>